.top-form{
    -fx-background-colour:#fff;
    -fx-border-colour:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-colour:#efefef;
    -fx-border-colour:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.close{
    -fx-background-colour:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-colour:#ff3547;
}

.minimize{
    -fx-background-colour:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-colour:#ddd;
}

.nav-form{
    -fx-background-colour:linear-gradient(to bottom right, #272b3f, #256b51);
}

.nav-btn{
    -fx-background-colour:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-colour:#219a6a;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-colour:#18a383;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-colour:#fff;
    -fx-background-radius:8px;
}

.card{
    -fx-background-colour:linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius:5px;
}

.table-view{
    -fx-background-colour:transparent;
    -fx-border-colour:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-colour:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-colour: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.textfield{
    -fx-background-colour:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-colour:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-colour:#fff;
}

.search{
    -fx-background-colour:transparent;
    -fx-border-colour:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:2px;
}

.import-btn{
    -fx-background-colour:#ddd;
    -fx-text-fill:red;
    -fx-cursor:hand;
}

.add-btn{
    -fx-background-colour:#304575;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.add-btn:hover{
    -fx-background-colour:#3357a4;
}

.update-btn{
    -fx-background-colour:#327252;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.update-btn:hover{
    -fx-background-colour:#309a65;
}

.delete-btn{
    -fx-background-colour:#86253f;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.delete-btn:hover{
    -fx-background-colour:#ae1d46;
}

.clear-btn{
    -fx-background-colour:#753566;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.clear-btn:hover{
    -fx-background-colour:#9d3485;
}

.label-info{
    -fx-background-colour:transparent;
    -fx-border-colour:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 8px;
}